<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-4 text-center mb-3">
        <h2 class=" bg-primary rounded text-white p-2 my-3">{{isEditMode || isViewMode ? 'Produto' : 'Cadastrar Produto'}}</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="login-wrap py-5">
          <form [formGroup]="productForm" (ngSubmit)="saveProduct()">
            <div class="mb-3 form-group">
              <input type="text" class="form-control" id="name" formControlName="name" placeholder="Nome"/>
              <div *ngIf="name?.errors?.required && name.touched"
                   class="text-danger">
                O nome é obrigatório.
              </div>
            </div>
            <div class="mb-3 form-group">
              <input type="text" class="form-control" id="description" formControlName="description"
                     placeholder="Descrição"/>
            </div>
            <div class="form-group mb-2">
              <input type="text" class="form-control" id="price" formControlName="price" placeholder="Valor"
                     mask="separator.2" thousandSeparator="." decimalMarker=","/>
              <div *ngIf="price?.errors?.required && price?.touched"
                   class="text-danger">
                Valor do produto é obrigatório.
              </div>
            </div>
            <div class="mb-3 form-group">
              <input type="number" class="form-control" id="stock" formControlName="stock" placeholder="Estoque" [maxlength]="20"/>
              <div *ngIf="stock?.errors?.required && stock?.touched"
                   class="text-danger">
                Quantidade em estoque é obrigatória.
              </div>
            </div>
            <div class="form-group" *ngIf="!isViewMode">
              <button type="submit" [disabled]="!productForm.valid"
                      class="btn form-control btn-primary rounded submit px-3">
                {{ isEditMode ? 'Atualizar Produto' : 'Cadastrar Produto' }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="d-flex justify-content-center mt-4">
      <div class="form-group  col-1 d-flex align-items-center">
        <button class="p-0 btn form-control btn-primary rounded text-center" [routerLink]="'/products'">
          Voltar
        </button>
      </div>
    </div>
  </div>
</section>

