<div class="container my-3">
  <div class="row d-flex ">
    <h2>Tarefas</h2>
  </div>
  <div class="col-12">
    <button class="btn btn-primary" [routerLink]="['/newproduct']">Adicionar Produto</button>
  </div>
</div>
<div class="container rounded">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col" class="text-left pl-5">Nome</th>
      <th scope="col">Descrição</th>
      <th scope="col">Preço</th>
      <th scope="col">Estoque</th>
      <th scope="col">Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products$ | async" >
      <td class="text-left pl-5">{{product.name}}</td>
      <td>{{product.description}}</td>
      <td>{{product.price }}</td>
      <td>{{product.stock}}</td>
      <td class="d-flex">
        <i class="bi bi-pencil-square" style="color: green; margin-right: 20px;" ></i>
        <i class="bi bi-trash" style="color: red" ></i>
      </td>
    </tr>
    </tbody>
  </table>

</div>
