<div class="container my-3">
  <div class="col-12 text-center mb-3">
    <h2 class="bg-primary rounded text-white p-2 my-3">Lista de Produtos</h2>
  </div>
  <div class="col-2 d-flex">
    <button class="form-control btn btn-primary rounded" style="padding-left: 0" [routerLink]="['/product']">Cadastrar
      Produto
    </button>
  </div>
</div>
<div class="container rounded">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col" class="text-left pl-5">Nome</th>
      <th scope="col">Descrição</th>
      <th scope="col">Preço</th>
      <th scope="col">Estoque</th>
      <th scope="col">Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products$ | async">
      <td class="text-left">{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.price | currency }}</td>
      <td>{{ product.stock }}</td>
      <td>
        <i class="fa-solid fa-eye" style="color: blue; margin-right: 20px;" (click)="view(product.id)"
           ngbTooltip="Visualizar"></i>
        <i class="fa-solid fa-pencil" style="color: green; margin-right: 20px;" (click)="edit(product.id)"
           ngbTooltip="Editar"></i>
        <i class="fa solid fa-trash" style="color: red" (click)="delete(product.id)" ngbTooltip="Excluir"></i>
      </td>
    </tr>
    </tbody>
  </table>
</div>
